Pandas Tutorial
Pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

Agenda

What is Data Frames?
What is Data Series?
Different operation in Pandas

In [6]:
import pandas as pd
import numpy as np

In [8]:
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=['Col1','Col2','Col3','Col4'])

In [10]:
df #rows and cols must be >1

      Col1  Col2  Col3  Col4
Row1     0     1     2     3
Row2     4     5     6     7
Row3     8     9    10    11
Row4    12    13    14    15
Row5    16    17    18    19

In [12]:
df.head()

      Col1  Col2  Col3  Col4
Row1     0     1     2     3
Row2     4     5     6     7
Row3     8     9    10    11
Row4    12    13    14    15
Row5    16    17    18    19

In [14]:
df.to_csv('Test.csv')

In [16]:
#accessing the elements
# 1. .loc 2. .iloc

df.loc['Row1']

Col1    0
Col2    1
Col3    2
Col4    3
Name: Row1, dtype: int32

In [18]:
type(df.loc['Row1'])

pandas.core.series.Series

In [22]:
df.iloc[0:3,0:2]

      Col1  Col2
Row1     0     1
Row2     4     5
Row3     8     9

In [24]:
type(df.iloc[0:3,0:2])

pandas.core.frame.DataFrame

In [28]:
type(df.iloc[0:2,0])

pandas.core.series.Series

In [34]:
#convert Dataframes into array
df.iloc[0:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [36]:
df.isnull().sum()

Col1    0
Col2    0
Col3    0
Col4    0
dtype: int64

In [40]:
df['Col1'].value_counts()

Col1
0     1
4     1
8     1
12    1
16    1
Name: count, dtype: int64

In [42]:
df['Col1'].unique()

array([ 0,  4,  8, 12, 16])

In [44]:
df['Col1']

Row1     0
Row2     4
Row3     8
Row4    12
Row5    16
Name: Col1, dtype: int32

In [46]:
type(df['Col1'])

pandas.core.series.Series

In [50]:
df[['Col1','Col2']]

      Col1  Col2
Row1     0     1
Row2     4     5
Row3     8     9
Row4    12    13
Row5    16    17